td {
    height: 50px;
    width: 50px;
    text-align: center;
    color: rgb(224, 219, 219);
    /* padding: 2px 11px; */
    border-radius: 100%;
    border: 1px       black;
    /* color: ligh */
    min-width: 50px;
    min-height: 50px;
    background-color: rgb(247, 241, 241);
}
#titulo
{
    background-color: dimgray;
    color: rgb(221, 217, 217);
}
.botao
{
    width: 40px;
    height: 40px;
    border: 2px solid rgb(216, 213, 213);
    border-radius: 100%;
    text-align: center;
}
#btn-green
{
    background-color: green;
    border-color: black;
}
#btn-red
{
    background-color: red;
}
#btn-black
{
    background-color: black;
}
#btn-white
{
    background-color: rgb(247, 241, 241);
}

